<script type="text/javascript">

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(useClassCount);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function useClassCount() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'land_use_type');
    data.addColumn('number', 'count');
    data.addRows(JSON.parse('<%= @use_class_count.to_json.html_safe %>'));

    // Set chart options
    var options = {
      'width': 500,
      'height': 400};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('useClassCount'));
    chart.draw(data, options);
  }
</script>
<div class="wrapper">
  <h2>Count of Type</h2>
  <div id="useClassCount"></div>
</div>