.DS_Store
# Ignore bundler config.
/.bundle
.idea/*
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
db/seed
# Ignore Byebug command history file.
.byebug_history

# Ignore the .env file
.env

# Ignore the CSV data file
/app/data/*
