<footer>
  <div class="page-container">
    <p>Akron City Health Dashboard</p>
    <nav>
      <ul>
        <li>Home</li>
        <li>About the Project</li>
        <li>Get Involved</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</footer>
