<header class="header-bar">
  <a href="">
    <%= image_tag("akronSeal.png", :alt => "City of Akron Seal") %>
  </a>
  <h1>Akron City Health Dashboard</h1>
  <nav>
    <ul>
      <li><a href="">About the Project</a></li>
      <li><a href="">Get Involved</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</header>
