<header class="header-bar">
  <a href="/" class="header-logo-link">
    <%= image_tag("akronSeal.png", :alt => "City of Akron Seal") %>
  </a>
  <div class="header-content">
    <h1>City Health Dashboard</h1>
    <nav>
      <ul class="main-links">
        <li><a href="about">About the Project</a></li>
        <li><a href="get-involved">Get Involved</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
