<div class="main-menu main-menu-default">
  <h1 class="main-menu-title">Housing</h1>
  <div class="show-menu-button">
    <a class="" href="">View Categories
    <%= image_tag("mag-glass.svg", :alt => "view-icon") %></a>
  </div>
</div>

<div class="main-menu main-menu-expanded">
  <a class="hide-menu-button" href="">Hide</a>
  <div class="page-container">
    <ul class="expanded-menu-links">
      <li class="labor"><a href="">Labor</a></li>
      <li class="business"><a href="">Business Activity</a></li>
      <li class="construction"><a href="">Construction</a></li>
      <li class="education"><a href="">Education</a></li>
      <li class="transportation"><a href="">Transportation</a></li>
      <li class="demographics"><a href="">Demographics</a></li>
      <li class="technology"><a href="">Technology</a></li>
      <li class="safety"><a href="">Safety</a></li>
      <li class="housing"><a href="">Housing</a></li>
    </ul>
  </div>
</div>
