<div class="main-menu main-menu-default">
  <h1 class="main-menu-title">Housing</h1>
  <div class="show-menu-button">
    <a class="" href="">View Categories
    <%= image_tag("mag-glass.svg", :alt => "view-icon") %></a>
  </div>
</div>

<div class="main-menu main-menu-expanded">
  <div class="page-container">
    <a class="hide-menu-button" href="">Hide</a>
    <ul class="expanded-menu-links">
      <li class="labor"><a href=""><span>Labor</span></a></li>
      <li class="business"><a href=""><span>Business Activity</span></a></li>
      <li class="construction"><a href=""><span>Construction</span></a></li>
      <li class="education"><a href=""><span>Education</span></a></li>
      <li class="transportation"><a href=""><span>Transportation</span></a></li>
      <li class="demographics"><a href=""><span>Demographics</span></a></li>
      <li class="technology"><a href=""><span>Technology</span></a></li>
      <li class="safety"><a href=""><span>Safety</span></a></li>
      <li class="housing"><a href=""><span>Housing</span></a></li>
    </ul>
  </div>
</div>
