<div class="main-menu main-menu-default">
  <h1 class="main-menu-title">Housing</h1>
  <div class="show-menu-button">
    <a class="" href="">View Categories<img src=""></a>
  </div>
</div>

<div class="main-menu main-menu-expanded">
  <a class="hide-menu-button" href="">Hide</a>
  <nav class="">
    <ul>
      <li><a href="">Labor</a></li>
      <li><a href="">Business Activity</a></li>
      <li><a href="">Construction</a></li>
      <li><a href="">Education</a></li>
      <li><a href="">Transportation</a></li>
      <li><a href="">Demographics</a></li>
      <li><a href="">Technology</a></li>
      <li><a href="">Safety</a></li>
      <li><a href="">Housing</a></li>
`    </ul>
  </nav>
</div>
