.internal-page {
  margin-top: 100px !important;

  h1 {
    color: $primary-color-light;
    line-height: 1.25;
    margin: 0;
    font-size: 2.25em;
  }

  h2 {
    color: $primary-color-light;
    font-weight: bold;
    line-height: 1.25;
  }

  .subheading {
    color: $primary-color-dark;
    font-family: 'work-sans';
    font-size: 2em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }

  @media screen and (min-width: $break-large-screen) {
    margin-top: 150px !important;

    h1 {
      font-size: 3.25em;
    }
  }
}
