<h1>About the Project</h1>
<p class="subheading">The Akron City Health Dashboard is a tool that was developed through a partnership between Launch League and the city of Akron. The Akron City Health Dashboard aims to help inform  citizens of the overall &ldquo;health&rdquo; of the city and the status of different metrics recorded by city offices. </p>
<div class="content-container-2-up">
  <div class="content-block">
    <h2>History</h2>
    <p>When Mayor Dan Horrigan was elected as mayor of the city of Akron, he pledged to bring transparency about the status of the city of Akron to its citizens. To do this, a tool needed to be developed that could collect, display, and analyze this data in a way that was meaningful to citizens. Through development between Launch League and volunteers at HackNAkron events, a data API was developed to help make this city metric data usable and meaningful.</p>
  </div>
  <div class="content-block">
    <%= image_tag("history-hacknakron.jpg", :alt => "First Hack n'Akron") %>
  </div>
</div>

<div>
  <h2>Who Made This Possible</h2>
  <ul>
    <li><img class="" src="">City of Akron</li>
    <li><img class="" src="">Launch League</li>
  </ul>
</div>
<div class="content-block">
  <h2>Future Goals</h2>
  <p>The goal of this project is to continue to develop and expand the API system to include all city metric data contained within each department. This will then allow citizens to get a complete picture of the overall &ldquo;health&rdquo; of the city, and open the door for developers to use the data in meaningful and unique ways.</p>
</div>
