<h1>Contact Information</h1>
<div class="content-container-2-up">
  <div class="content-block">
    <p>If you have any questions of inquiries about the data API or how to get involved with the development of API based software contact launch league at:</p>
    <h2>Courtney Gras-Executive Director</h2>
    <a href="mailto:courtney@launchleague.com">courtney@launchleague.com</a>
  </div>
  <div class="content-block">
    <p>If you have any questions or inquiries regarding the data contained within the API or any of the data from the development tools created from the data within API contact the City of Akron at:</p>
    <h2>Mark Petit-County CIO</h2>
    <a href="mailto:something@cityofakron.com">something@cityofakron.com</a>
  </div>
</div>
