<h1>Get Involved</h1>
<p class="subheading">Launch League is currently seeking Citizens of Akron who would like to make a difference in their community using technology. All people with all types of development and business backgrounds are welcome to get involved.</p>
<div class="content-container-3-up">
  <div class="content-block">
    <h2>Join a future Hackathon</h2>
    <p>Come join us at a Hack N Akron event for a 12-hour day of volunteering and fun! Come together with some of the city’s biggest and best technical, business, and design talent to solve the city’s biggest challenges. </p>
  </div>
  <div class="content-block">
    <h2>Build Something with the API</h2>
    <p><a href="">The API</a> is an open source database that can be used by any type of citizen for web or app development. The development of new ways to use and analyze the data with technology is strongly encouraged.</p>
  </div>
  <div class="content-block">
    <h2>Get in Touch to Learn More</h2>
    <p><a href="">Click here</a> for contact information.</p>
  </div>
</div>
